@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 90%;
    --foreground: 0, 0%, 7%;

    --card: 0, 0%, 89%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0, 0%, 89%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 38, 100%, 40%;
    --primary-foreground: 210 40% 98%;

    --secondary: 127, 100%, 73%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0, 0%, 18%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0, 0%, 18%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 40%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 7%;
    --foreground: 0, 0%, 85%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 37, 100%, 40%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 127, 100%, 10%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0, 0%, 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0, 0%, 18%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 18%;
    --input: 36, 8%, 88%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.cta-shadow {
  box-shadow: 4px 4px 10px #ffbe4d,
    -5px -5px 10px #ffda996a;
}

.heroArrow {
  border-radius: 150px;
  background: #2F2F2F;
  box-shadow: 1px 1px 5px #262626,
    -1px -1px 5px #383838;
}

.heroCircles {
  border-radius: 150px;
  background: #e6e6e6;
  box-shadow: 8px 8px 17px #bababa,
    -8px -8px 17px #ffffff;
}

.heroOfferCard {
  background: #cc8100b5;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.heroCTACard {
  background: #cc8100d6;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}